In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data = np.array([1,2,3,4,4,4,5,6,7])
std = round(data.std(),2)
std

1.76

In [28]:
import pandas as pd

df = pd.read_csv("data/distance.csv", header=None)
N  = np.array(df[0].tolist())
E = np.round(N.mean(),2)
print("평균: ", E)
V = np.round(N.var(),2)
print("분산: ", V)
a = np.round(N.std(),2)
print("표준편차: ", a)
N

평균:  12.21
분산:  37.35
표준편차:  6.11

array([ 9.59,  4.62,  0.65,  7.75, 16.98, 11.78,  7.24, 10.15, 25.49,
       11.44, 10.37,  9.33, 15.04, 12.16, 16.63, 12.06,  9.7 , 12.46,
        8.05, 19.91,  5.58, 12.48,  4.35, 16.41, 22.53, 17.56, 18.4 ,
       10.86, 27.43,  7.39, 14.57, 11.92,  2.  ])

In [17]:
import math 
import numpy as np
import pandas as pd

data = [26,31,28,38,41,26,18,16,25,29,
       39,38,38,40,43,38,39,41,41,40,
       26,19,39,28,43,34,21,41,29,30,
       12,22,45,34,29,26,29,58,42,16,
       41,42,38,42,28,42,39,41,39,43]

k = 5   #계급의 수
start = min(data)-0.5   #계급간격 시작값
step = math.ceil((max(data)-min(data))/k)  #계급의 간격
bins = np.arange(min(data)-0.5, max(data), step=step)  #계급

#계급구간
idx = [ str(bins[i])+'~'+str(bins[i+1] 
            if i<(len(bins)-1) else np.max(bins)+step ) 
           for i in range(len(bins))]    #계급구간
#도수 데이터
bins = np.append(bins, np.array([np.max(bins) + step]))
hist, bins = np.histogram(data, bins)
val = hist

# 도수분포표 만들기
#,'상대도수','누적도수','누적상대도수','계급값']
df = pd.DataFrame(val, index=idx, columns=['도수'])
df.index.name = '계급간격'

df['상대도수'] = [val[x]/sum(val) for x in range(k)]
df['누적도수'] = [sum([val[i] for i in range(x+1)]) for x in range(k)]

val2 = df['상대도수'].values

df['누적상대도수'] = [sum([val2[i] for i in range(x+1)]) for x in range(k)]
df['계급값'] = [ (bins[x]+bins[x+1])/2 for x in range(k)]

A = df['계급값'].values
B = (sum(A[x] * val[x] for x in range(k)) / len(data)) #평균
C = sum((A[x] - B)**2*val[x] for x in range(k)) / 49 # 분산

df['편차'] = [(A[x] - B) for x in range(k)]
df['편차^2'] = [(A[x] - B)**2 for x in range(k)]
df['편차^2*도수'] = [(A[x] - B)**2*val[x] for x in range(k)]
val3 = df['편차^2*도수'].values


#df.loc['합계'] = df.iloc[:,:2].sum(axis=0, skipna=True)
df.loc['합계'] = [sum(val),sum(val2),'','','','','',sum(val3)]

print("분산: ", np.round(C, 2))
df

분산:  92.29

           도수  상대도수 누적도수 누적상대도수   계급값    편차    편차^2  편차^2*도수
계급간격
11.5~21.5   6  0.12    6   0.12  16.5 -16.6  275.56  1653.36
21.5~31.5  15  0.30   21   0.42  26.5  -6.6   43.56   653.40
31.5~41.5  20  0.40   41   0.82  36.5   3.4   11.56   231.20
41.5~51.5   8  0.16   49   0.98  46.5  13.4  179.56  1436.48
51.5~61.5   1  0.02   50      1  56.5  23.4  547.56   547.56
합계         50  1.00                                  4522.00